.log {
    width: 25%;
    height: 40vh;
    background:linear-gradient(to right , rgba(255, 0, 255, 0.729) , rgba(0, 255, 255, 0.548) ) ;
    border-radius: 10px;
    color: black aqua;
    margin: 20px auto;
    padding: 5px;
}
input {
    display: block;
    margin: 5px auto;
    width: 80%;
    height: 6vh;
    padding: 2px;
    background:linear-gradient(to right , rgb(0, 255, 255)  , rgb(255, 0, 255)  ) ;
    border: none;
    border-radius: 2px;
    text-align: center;
    color: snow;
}
hr {
    width: 80%;
    margin: 0 auto;
}
button {
    width: 70%;
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    background-color: lightgreen;
    background:linear-gradient(to right , rgb(0, 255, 255)  , rgb(255, 0, 255)  ) ;
    color: snow;
}
button:hover {
    background:linear-gradient(to right , rgba(255, 0, 255, 0.729) , rgba(0, 255, 255, 0.548) ) ;
    color: rgb(14, 195, 14);
}