* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
    color: snow;
}
body {
    background: url(../img/2.gif) no-repeat;
    background-size: cover;
}
.main {
    width: 100%;
    height: 100vh;
}
nav {
    width: 100%;
    padding: 2px;
    background:linear-gradient( 50deg , rgba(255, 0, 255, 0.412) , rgba(0, 255, 255, 0.602) ) ;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none; 
    color: snow;
    padding: 10px;
}
a:hover {
    color: rgb(14, 195, 14);
}